

// COLOR PROFILES 
$pink: #f03485;
$yellow: #ffce55;
$blue: #51cbf1;
$orange: #fa9939;
$green: #9dc705;
$dkblue: #038ecf;
$grey: #484848;
$ltgrey: #acacac;
$dkgrey: #222;
$red: #f3655d;

body {
  background: #060e1b;
  overflow: hidden;
}
@import url(//fonts.googleapis.com/css?family=Patrick+Hand+SC|Bangers|Happy+Monkey);
@font-face {
  font-family: CustomFont;
  src: url('CCUpUpAndAway.otf');
}

h1, 
h2, 
h3, 
h4, 
h5
 {
  font-family: "Bangers", sans-serif !important;
  color: $dkgrey;
}


button{
  font-family: "Bangers", sans-serif !important;
  background-color: crimson;

}

button:hover {
  background-color:#002ead;
  transition: 0.7s;
}
#btn1{
position: absolute ;
top: 538px ;
left: 325px ;
z-index: 100 ;
width: 681px ;
height: 97px ;
color:white ;
font-size: 69px ;
}
#super1{
     position: relative;
left: 333px;
top: 87px;
height: 454px;z-index: 100;
}
#mes1{position:absolute ; 
  color: yellow; 
  top:0px;
  left:325px;
  z-index: 100;
  font-size: 48px;}
  #tiam1{
    position: absolute;
top: 40px;
left: 429px;
z-index: 100;
color: yellow;
font-size: 51px;
  }
@media screen and (orientation: portrait) {
  #btn1 {
   position: relative;
   left: 150px; 
  }
  #super1{
    position: relative;
left: 190px;
top: 390px;
height: 454px;z-index: 100;
}
#mes1{position:absolute ; 
  color: yellow; 
  top:0px;
  left:90px;
  z-index: 100;
  font-size: 70px;}
  #tiam1{
    position: absolute;
top: 160px;
left: 129px;
z-index: 100;
color: yellow;
font-size: 71px;
  }

}